.carousel-cell {
  width: 100%; /* full width */
  height: auto; /* height of carousel */
  margin-right: 10px;
  border: 0px solid gray;
}

/* ----- Page dots ----- */

/* position dots in carousel */
.flickity-page-dots {
  bottom: -20px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: lightblue;
  border: 0px solid rgb(10, 10, 10);
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: red;
}


